name: Test, Build and Upload release

on:
  push:
  release:
    types: [published]

# Default job permissions
permissions:
  contents: read

jobs:
  test:

    name: Test

    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [ '1.25' ]

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Vet
        run: go vet ./...

      - name: Test
        run: go test -shuffle on -v ./...

      - uses: dominikh/staticcheck-action@024238d2898c874f26d723e7d0ff4308c35589a2 # v1.4.0
        with:
          version: "latest"
          install-go: false
          cache-key: ${{ matrix.go-version }}-staticcheck

  build:

    name: Build

    needs: test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: '1.25'

      - name: Build all
        shell: bash
        run: |
          mkdir dist
          make all

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: veild-artifacts
          path: dist/*
          retention-days: 1

  release:
    if: github.event_name == 'release'

    name: Create Release

    needs: build

    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: veild-artifacts

      - name: Upload release artifacts
        run: gh release upload "$GITHUB_REF_NAME" veild-*
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
