name: Test and Build

on: [push]

jobs:
  test:

    name: Test

    runs-on: ubuntu-latest

    permissions:
      contents: read

    strategy:
      matrix:
        go-version: [ '1.25' ]

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Vet
        run: go vet ./...

      - name: Test
        run: go test -shuffle on -v ./...

      - uses: dominikh/staticcheck-action@024238d2898c874f26d723e7d0ff4308c35589a2 # v1.4.0
        with:
          version: "latest"
          install-go: false
          cache-key: ${{ matrix.go-version }}-staticcheck

  build:

    name: Build

    needs: test

    runs-on: ubuntu-latest

    permissions:
      contents: read

    strategy:
      matrix:
        go-version: [ '1.25' ]
        # For cross compilation...
        architecture: [ 'linux-arm', 'linux-arm64', 'linux-amd64', 'darwin-amd64', 'darwin-arm64' ]

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build for ${{ matrix.architecture }}
        run: make ${{ matrix.architecture }}
